
:root {
  --login-bg: #f8f3ff;
  --title-bg: #9089cc;
  --button-bg: #674baf;
  --light-pink: #e882e8;
  --image-bg: #eadbff;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient( to top, #a18cd1 0%, #fbc2eb 100%);
}

.login-container {
  height: 43.75em;
  width: 60em;
  margin: 6em auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.login-info-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid red;
  padding-top: 0.5rem;
  background-color: var(--login-bg);
}
